.product__grid{
  display: flex;
  flex-direction: column;
  border: 1pz solid pink;
}

/* tablets */
@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .product__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

/* web */
@media screen and (min-width: 64em) {
  .product__grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}